# Environment variables
.env
.env.*
!.env.example

# Python
**__pycache__/
*.pyc
*.pyo
*.pyd

# Node
node_modules/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Test coverage
coverage/
htmlcov/

# Pytest
.pytest_cache/